[push]
	default = simple
[user]
        name = Linus Ljung
        email = linus.ljung@na-kd.com
[pack]
        windowMemory = 32m
[alias]
	s = status
	a = add
	pl = pull --rebase
	ps = push
	o = checkout
	b = branch
	l = log
	c = commit
	save = !git add --all . && git commit -m "Save" --no-verify
	undo = "!f() { git reset HEAD~$1; }; f"

