[push]
	default = simple
[alias]
	s = status
	a = add
	pl = pull --rebase
	ps = push
	o = checkout
	b = "!f() { if hash branches 2>/dev/null; then branches; else git br; fi }; f"
	br = branch -vv
	l = log
	c = commit
	f = fetch
	r = rebase
	d = diff
	save = !git add --all . && git commit -m "Save" --no-verify
	undo = "!f() { git reset HEAD~$1; }; f"

